@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.button {
  cursor: pointer;
  @include flex-center;
  column-gap: toRem(20);
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--grayish-900);
  padding: toRem(20);
  transition: all 0.3s;
  i {
    font-size: toRem(12);
  }
  &:hover {
    color: var(--green);
    background-color: transparent;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--grayish-200);
    color: var(--grayish-900);
    border: 2px solid var(--grayish-200);
  }
}
