@import "../../styles/functions.scss";

.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(20);
  margin-bottom: toRem(25);

  &Value {
    text-transform: none;
    font-size: toRem(30);
    background-color: transparent;
  }

  &Copy {
    display: flex;
    align-items: center;
    column-gap: toRem(10);

    &Message {
      text-transform: uppercase;
      color: var(--green);
      font-size: toRem(16);
    }

    &Btn {
      cursor: pointer;
      color: var(--green);
      font-size: toRem(24);
      border: 0;
      padding: toRem(2);
      background: transparent;
      transition: color 0.3s;

      &:hover {
        color: inherit;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
