@import-normalize;
@import "./icon-font.scss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  //_Colors:
  --grayish-200: hsl(252, 11%, 91%);
  --grayish-400: hsl(251, 9%, 53%);
  --grayish-700: hsl(248, 10%, 15%);
  --grayish-900: hsl(248, 15%, 11%);

  --green: hsl(127, 100%, 82%);
  --red: hsl(0, 91%, 63%);
  --orange: hsl(13, 95%, 66%);
  --yellow: hsl(42, 91%, 68%);

  //_Font:
  --f-family: "JetBrains Mono", monospace;
}
